@mixin fontSize {
  font-size: 1.5rem;
}
$radius: 3px;

.editTask {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  border: 1px solid;
  border-radius: $radius;
  align-items: center;

  border-color: #ccc;
  color: #ccc;
  background-color: #011c36;
  input {
    @include fontSize;
    padding: 16px;
    width: 100%;
    border: none;
    background-color: transparent;
    caret-color: #ccc;
    color: #00c8ff; 
    &:focus {
      outline: none;
    }
  }
  span {
    padding: 16px;
    @include fontSize;
    color: #00c8ff;
    background-color: transparent;
  }
}